<h1>Partner Organizations</h1>

<ul>
    {% for entity in entities %}
            <li>
                <a href="{{ path('partner_show', { 'id': entity.id }) }}">{{ entity.name }}</a> from {{ entity.base }}
            </li>
    {% endfor %}
</ul>

<a href="{{ path('partner_new') }}">Add a new Organization</a>